node_modules/

logs
*.log

/dist

.env

.idea/
*/.idea
.vscode/
*.sw*

.gradle
.gradletasknamecache
/build
buildSrc/build
/spring-*/build
/framework-*/build
/integration-tests/build
/src/asciidoc/build
spring-test/test-output/

echo '.idea' >> .gitignore